version: "3.7"

services:
  2maps:
    image: docker.pkg.github.com/mikhail-angelov/2maps/2maps:latest
    container_name: "2maps"
    restart: unless-stopped
    networks:
      - webnet
    ports:
      - "127.0.0.1:3001:3000"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    env_file:
      - .env
    command: npm start
    volumes:
      - ./data:/opt/app/data:rw
  # valhalla:
  #   image: ghcr.io/nilsnolde/docker-valhalla/valhalla:latest
  #   container_name: "valhalla"
  #   restart: unless-stopped
  #   networks:
  #     - webnet
  #   ports:
  #     - "127.0.0.1:8002:8002"
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "10m"
  #       max-file: "10"
  #   environment:
  #     build_elevation: "True"
  #   volumes:
  #     - ./osm:/custom_files:rw

  monic-2maps:
    image: ghcr.io/mikhail-angelov/monic:latest
    container_name: monic-2maps
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - 2maps
    env_file:
      - ./.env
    environment:
      - MONIC_APP_NAME=js2goMonitor

      - MONIC_CHECK_SYSTEM_INTERVAL=60
      - MONIC_CHECK_SYSTEM_CPU_THRESHOLD=80
      - MONIC_CHECK_SYSTEM_MEMORY_THRESHOLD=85
      - MONIC_CHECK_SYSTEM_DISK_THRESHOLD=90

      - MONIC_CHECK_DOCKER_INTERVAL=60
      - MONIC_CHECK_DOCKER_CONTAINERS=2maps

      - MONIC_CHECK_HTTP_INTERVAL=300
      - MONIC_CHECK_HTTP_URL=https://2maps.xyz
      - MONIC_CHECK_HTTP_METHOD=GET
      - MONIC_CHECK_HTTP_TIMEOUT=10
      - MONIC_CHECK_HTTP_EXPECTED_STATUS=200
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

networks:
  webnet:
