.icon-button {
  border: none;
  background: transparent;
  padding: 0;
  width: 24px;
  margin: 0 1px;

  &:focus {
    outline: none;
  }
  &:hover {
    background: cornflowerblue;
  }
  &.disabled{
    opacity: 0.5;
  }
}

.form {
  display       : flex;
  flex-direction: column;

  .title {
    font-size: 32px;
  }

  .error {
    margin-top: 10px;
    font-size : 24px;
    color     : red;
  }

  .label {
    margin-top: 10px;
    font-size : 24px;
  }

  .form-input {
    margin-top: 10px;
    font-size : 24px;
    border    : 1px solid gray;
  }
  .form-select {
    margin-top: 10px;
    font-size : 24px;
    border    : 1px solid gray;
  }

  .row {
    display        : flex;
    justify-content: space-between;
    margin-top     : 20px;
  }

  .form-button {

    background-color: transparent;
    border          : none;
    font-size       : 32px;
    text-align      : center;
    color           : black;
    text-decoration : none;

    &.primary {
      background-color: black;
      color           : white;
    }
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}