body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

#left-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

#map {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.map-overlay {
  position: absolute;
  z-index: 2;
}
#slider {
  width: 95%;
  left: 0;
  padding: 10px;
}
#layers {
  position: fixed;
  top: 80px;
  right: 20px;
}
#draw {
  display: block; /* added some property to avoid empty ruleset */
}

.h-100 {
  height: 100%;
}
.col {
  display: flex;
  flex-direction: column;
}

.inverse-color {
  background-color: black;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: modal-show 0.5s 1 forwards;
  z-index: 9999999;
}
.modal .modal-content {
  position: relative;
  width: 480px;
  padding: 24px;
  background-color: white;
}

.modal .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 60px;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 48px;
  text-align: center;
  color: black;
  text-decoration: none;
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/* hack for mapbox popup */
/* ruler styles */
.ruler-icon, .ruler-clear {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.ruler-icon img, .ruler-clear img {
  width: 24px;
  height: 24px;
}

.ruler-icon.red {
  background-color: #ffcccc;
  border-color: red;
}

.ruler-total {
    background: white;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}